ALGORAND_NODE_URL=https://testnet-api.algonode.cloud
ALGORAND_INDEXER_URL=https://testnet-idx.algonode.cloud
APP_ID=YOUR_DEPLOYED_APP_ID
TRUST_TOKEN_ASSET_ID=YOUR_ASA_ID
ADMIN_MNEMONIC=your 25-word admin mnemonic
FIREBASE_PROJECT_ID=settlechain-hackathon
FIREBASE_PRIVATE_KEY_PATH=./firebase-admin-key.json
WEB3_STORAGE_TOKEN=your_web3_storage_token
PORT=4000
FRONTEND_URL=http://localhost:5173
SPONSOR_WALLET=ALGO_ADDRESS
CONTRIBUTOR_WALLET=ALGO_ADDRESS
VALIDATOR1_WALLET=ALGO_ADDRESS
VALIDATOR2_WALLET=ALGO_ADDRESS
